/* HEADER & FOOTER -- WHERE TIMELINE STUFF IS */

header {
	background-color: #212121;
	padding: 1rem;
}

.logo:hover {
	cursor: pointer;
}



nav {
	background-color: #212121;

	@media screen and (min-width: 40em) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}