/* HEADER & FOOTER -- WHERE TIMELINE STUFF IS */

header {
	background-color: #212121;
	padding: 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}



.logo {
	position: relative;
	top: 5px;
}

.logo:hover {
	cursor: pointer;
}

.mainmenu li {
	margin: 0;
}



footer {
	padding: 1rem;
	background-color: rgba(0,0,0,.5)
}

footer p {
	margin-bottom: 0rem;
}