/* HEADER & FOOTER -- WHERE TIMELINE STUFF IS */

header, footer {
	padding: 1rem;
}

header {
	background-color: #212121;
}

footer {
	background-color: rgba(0,0,0,.5)
}

.logo {
	position: relative;
	top: 5px;
}

.logo:hover {
	cursor: pointer;
}

.mainmenu li {
	margin: 0;
}