.intro {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding-top: 10rem;
	background-color: #424242;
	z-index: 1;
}



// JEFF'S CODEPEN

figure {
	width: 100%;
	background-color: #e5e5e5;

	img {
	  position: absolute;
	  width: 30%;
	  display: block;
	  opacity: 0;
	  transition: transform .4s;
	}

	img:hover {
	  transform: scale(1.2);
	  -webkit-transition: transform 1.5s ease-in;
	}

	.one {
	  // bottom: 0%;
	  // left: 50%;
	  // width: 40%;
	  animation-name: fadein;
	  animation-duration: 2s;
	  animation-delay: 1s;
	  animation-fill-mode: forwards;
	  transform: rotate(-5deg);

	  @media screen and (min-width: 40em) {
	  	top: 75%;
	  	width: 40%;
	  }

	  @media screen and (min-width: 64em) {
	  	top: 70%;
	  	left: 50%;
	  	width: 40%;
	  }
	}

	.two {
	  // right: -5%;
	  // bottom: 1%;
	  animation-name: fadein;
	  animation-duration: 2s;
	  animation-delay: .5s;
	  animation-fill-mode: forwards;
	  transform: rotate(5deg);

	  @media screen and (min-width: 40em) {
	  	right: -5%;
	  	bottom: -10%;
	  	width: 45%;
	  }

	  @media screen and (min-width: 64em) {
	  	right: -5%;
	  	bottom: -10%;
	  	width: 30%;
	  }
	}

	.three {
	  // top: 10%;
	  // left: 75%;
	  animation-name: fadein;
	  animation-duration: 2s;
	  animation-delay: .7s;
	  animation-fill-mode: forwards;
	  transform: rotate(5deg);

	  @media screen and (min-width: 40em) {
	  	bottom: -5%;
	  	left: 75%;
	  }

	  @media screen and (min-width: 64em) {
	  	top: 10%;
	  	left: 75%;
	  }
	}

	.four {
	  // bottom: 25%;
	  // left: 47%;
	  // width: 35%;
	  animation-name: fadein;
	  animation-duration: 2s;
	  animation-delay: 1.5s;
	  animation-fill-mode: forwards;

	  @media screen and (min-width: 40em) {
	  	bottom: 5%;
	  	left: 20%;
	  	width: 35%;
	  }

	  @media screen and (min-width: 64em) {
	  	bottom: 20%;
	  	left: 47%;
	  	width: 35%;
	  }
	}

	.five {
	  // top: 5%;
	  // left: 55%;
	  // width: 25%;
	  animation-name: fadein;
	  animation-duration: 2s;
	  animation-delay: 1s;
	  animation-fill-mode: forwards;
	  transform: rotate(-5deg);

	  @media screen and (min-width: 40em) {
	  	bottom: 0%;
	  	left: 40%;
	  	width: 25%;
	  }

	  @media screen and (min-width: 64em) {
	  	top: 5%;
	  	left: 55%;
	  	width: 25%;
	  }
	}

	.top {
		z-index: 1;
	}
}

@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}