/* MAIN CONTENT */

main {
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-position: bottom;
	background-attachment: fixed;
	padding-top: 1.5rem;
}

.panel {
	min-height: 100vh;
	display: flex;

	.grid-container {
		margin: auto;
	}

	img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 100%;
	}
}

.cell {
	padding-left: 1%;
	padding-right: 1%;
}



::selection {
  background: $red; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
}



h1 {
	animation-name: flicker;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

.flicker {
	animation-name: flicker;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

@keyframes flicker {
  0% { opacity: 0; }
  15% { opacity: .4; }
  16% { opacity: .2; }
  19% { opacity: .4; }
  35% { opacity: .1; }
  55% { opacity: .2; }
  70% { opacity: .1; }
  100% { opacity: .4; }
}





// 	h2 {
// 		animation-name: flicker;
// 		animation-duration: 5s;
// 		animation-iteration-count: infinite;
// 		animation-direction: alternate;
// 		aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
// 		opacity: 0;
// 	}
// }

// .overlay {
// 	width: 100%;
// 	height: 100vh;
// 	position: fixed;
// 	top: 95px;
// 	left: 0;
// 	background-color: black;
// 	z-index: 1;
// 	opacity: 0;

// }