/* MAIN CONTENT */

main {
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-position: bottom;
	padding-top: 1.5rem;
}



h1 {
	opacity: 0;
}

h1 {
	animation-name: flicker;
	animation-duration: 3s;
	animation-iteration-count: 1;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

.flicker {
	animation-name: flicker;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

@keyframes flicker {
  0% { opacity: 0; }
  15% { opacity: .4; }
  16% { opacity: .2; }
  17% { opacity: 0; }
  19% { opacity: .3; }
  35% { opacity: .1; }
  50% { opacity: 0; }
  55% { opacity: .2; }
  70% { opacity: .1; }
  100% { opacity: .4; }
}

// 	h2 {
// 		animation-name: flicker;
// 		animation-duration: 5s;
// 		animation-iteration-count: infinite;
// 		animation-direction: alternate;
// 		aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
// 		opacity: 0;
// 	}
// }


// ::selection {
//   background: red; /* WebKit/Blink Browsers */
// }
// ::-moz-selection {
//   background: red; /* Gecko Browsers */
// }

// .overlay {
// 	width: 100%;
// 	height: 100vh;
// 	position: fixed;
// 	top: 95px;
// 	left: 0;
// 	background-color: black;
// 	z-index: 1;
// 	opacity: 0;

// }