/* MAIN CONTENT */

main {
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-attachment: scroll;
	background-repeat: none;
	padding-top: 1.5rem;
}

.panel {
	min-height: 100vh;
	display: flex;
	.grid-container {
		margin-top: 2rem;
	}
	.old {
		@media screen and (min-width: 64em) {
			margin-top: 4rem;
		}
	}
	.highlight {
		background-color: $red;
	}
	img {
	  display: block;
	  padding-top: 27%;
	  width: 100%;
	  @media screen and (min-width: 40em) {
		padding: 10% 15% 0% 15%;
	  }
	  @media screen and (min-width: 64em) {
		padding: 0;
	  }
	}

	.year {
		text-align: center;
		margin-top: 9rem;
		@media screen and (min-width: 40em) {
			margin-top: 4rem;
		}
		@media screen and (min-width: 64em) {
			margin-top: 2rem;
			padding: 0rem;
		}
	}
	.title {
		text-align: center;
		margin-top: -4rem;
		@media screen and (min-width: 64em) {
			margin-top: -5rem;
			margin-bottom: 4rem;
		}
	}
	.pic {
		padding-top: 8%;
		padding-bottom: 8%;
		@media screen and (min-width: 40em) {
			padding-top: 2%;
			padding-bottom: 2%;
		}
	}
	.para {
		padding: 0rem 1rem;
		@media screen and (min-width: 40em) {
			padding: 0rem 2rem;
		}
		@media screen and (min-width: 64em) {
			padding: 0rem;
		}
	}
}



// OVERALL
.cell {
	padding-left: 1%;
	padding-right: 1%;
}



// HIGHLIGHT
::selection {
  background: $red; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $red; /* Gecko Browsers */
}



// FLICKERING HEADER
h1 {
	animation-name: flicker;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

.flicker {
	animation-name: flicker;
	aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
	opacity: 0;
}

@keyframes flicker {
  0% { opacity: 0; }
  15% { opacity: .4; }
  16% { opacity: .2; }
  19% { opacity: .4; }
  35% { opacity: .1; }
  55% { opacity: .2; }
  70% { opacity: .1; }
  100% { opacity: .4; }
}





// 	h2 {
// 		animation-name: flicker;
// 		animation-duration: 5s;
// 		animation-iteration-count: infinite;
// 		animation-direction: alternate;
// 		aniamtion-timing-function: cubic-bezier(.17,.67,1,-0.1);
// 		opacity: 0;
// 	}
// }

// .overlay {
// 	width: 100%;
// 	height: 100vh;
// 	position: fixed;
// 	top: 95px;
// 	left: 0;
// 	background-color: black;
// 	z-index: 1;
// 	opacity: 0;

// }