/* TYPOGRAPHY */

/* 
    font-family: 'Beth Ellen', cursive;
    font-family: 'Cardo', serif;
 */

h1, h2 {
	font-family: 'Beth Ellen', cursive;
}

h2 {
	padding-bottom: 1rem;
}

p {
	font-family: 'Cardo', serif;
}